.item-box {
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  min-width: 200px;
  height: 200px;
  max-width: calc(50% - 30px);
  border-radius: 4px;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 30px;
}
.item-pic {
  height: calc(100% - 70px);
  text-align: center;
  filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.4));
  cursor: pointer;
}
.item-rest {
  display: flex;
  flex-direction: row;
  padding: 10px 15px;
  border-top: 1px solid rgba(0,0,0,0.1)
}
.item-desc {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 1px solid var(--light-grey);
}
.item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 18px;
}

.item-time {
  font-weight: 500;
  font-size: 9px;
  line-height: 9px;
  text-transform: uppercase;
  color: var(--reddish-grey);
}

.item-action {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.item-like {
  @extend %image-center;
  margin-left: 10px;
}
.item-comment {
  @extend %image-center;
  margin-left: 10px;
}

%image-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}