#root {
  .input-root {
    width: 100%
  }

  .inputWithMarginBottom {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .form-input {
    border-radius: 4px;
    position: relative;
    border: 1px solid var(--light-grey);
    width: 100%;
    padding: 10px 12px;
    font-size: 14px;
    font-weight: 500;
    height: 20px;

    &:focus {
      border: 1px solid var(--dark-grey)
    }
  }
  
  .form-input-label {
    font-size: 14px;
    color: var(--dark-grey);
    margin-bottom: 6px;
    margin-top: 6px;
  }
}
