#root {
  .dashboard-container {
    margin-top: 36px;
    height: calc(100% - 36px);
  }

  .searchBar {
    height: 40px;
    border-radius: 4px;
  }
}

.dashboard-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: auto;
  height: calc(100% - 20px);
  overflow-x: hidden;
  margin-top: 10px;
}
