#root {
  .profile-container {
    margin-top: 36px;
    height: calc(100% - 36px);
  }
}

.profile-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
  height: calc(100% - 20px);
  overflow-x: hidden;
  margin-top: 10px;
}
