#root {
  .contained-full-button {
    background-color: var(--primary-green);
    color: var(--white);
    text-transform: none;

    &:hover {
      background-color: var(--dark-green);
    }
  }

  .contained-outlined-button {
    background-color: var(--grey-1);
    color: var(--dark-green);
    text-emphasis: none;

    &:hover {
      background-color: var(--mid-grey);
    }
  }
}
