#root {
  .logout-container {
    background-color: var(--mid-grey);
    color: var(--red);
    width: 100%;

    &:hover {
      background-color: var(--mid-grey);
      box-shadow: 0px 0px 5px 0px var(--red);
    }
  }
}
