#root {
  .dropdown-root {
    width: 100%;
  }

  .dropdownWithMarginBottom {
    width: 100%;
    margin-bottom: 16px;
  }

  .dropdown {
    width: 50%;
    height: 42px;
  }

  .dropdown-filter {
    width: 100%;
    height: 42px;
  }
}
