body {
  
  /* variables */
  --primary-green: #2A9134;
  --secondary-green: #3FA34D;
  --tertiary-green: #137547;
  --light-green: #5BBA6F;
  --dark-green: #054A29;
  --black: #000000;
  --white: #ffffff;
  --grey-1: #eaeaea;
  --grey-2: #f6f6f6;
  --grey-3: #fafafa;
  --light-grey: #d4d4d4;
  --mid-grey: #C4C4C4;
  --dark-grey: #333333;
  --inactive-icon: #686B6F;
}

/* CSS resets */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove underline in links */

a {
  text-decoration: none;
}